<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-header.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/overlay.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flash.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

  </head>
  <body>
    <!--SIDEBAR-->
    <div class="sidebar">
      <div class="side-header">
        <button class="collapse-btn">
          <i class="fa fa-bars"></i>
        </button>
        <p class="banner">SSIS</p>
      </div>
      <div class="navigation">
        <ul class="navlinks">
          <li>
            <a href="/">
              <div class="tab-icon">
                <i class="fa fa-users tab-icon" aria-hidden="true"></i>
              </div>
              <span class="canCollapse">Students</span>
            </a>
          </li>
          <li>
            <a href="courses">
              <div class="tab-icon">
                <i class="fa fa-book tab-icon" aria-hidden="true"></i>
              </div>
              <span class="canCollapse">Courses</span>
            </a>
          </li>
          <li>
            <a href="colleges">
              <div class="tab-icon">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              </div>
              <span class="canCollapse">Colleges</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--SIDEBAR-->

    <!--CONTENT-->
    <div class="main-container">
        <div class="main-header">
            <button class="main-button add-data" id="add-account">
              <i class="fa fa-plus-circle add-icon" aria-hidden="true"></i> Create New </button>
            <form class="search-form">
                <input type="text" class="search-field" id="search" name="search" placeholder="Search..."/>
                <button type="button" class="search-btn">Search</button>
            </form>
        </div>

        <button type="button" class="delete-selected-btn hide">
          Delete Selected
        </button>

        {% block content %}{% endblock %}

    </div>
    <!--CONTENT-->

    <!--FORM OVERLAY-->
    <div class="hidden-panel">
        <div class="overlay-cover hide"></div> <!--Background cover-->
        <div class="content">
          {% block panelContent %}{% endblock %}
          <!--Error Window-->
          <div class="error-window hide"></div>
          <footer class="sideFooter">
            <button type="submit" id="submitFormBtn" form="mainform"  class="save-item-btn">Save</i>
            </button>
            <button class="close-panel-btn">Cancel</button>
          </footer>
        </div>
        </div>
    </div>
    <!--FORM OVERLAY-->

    <!--ALERTS-->
    <div id="alert-overlay" class="overlay-cover hide"></div>
    <div id="alert" class="alertWindow hide">
        <p class="alert-window-header"><b></b></p>
        <p class="alert-window-message"></p>
        <button class="close-alertButton">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
        <button class="discard-button button"></button>
        <button class="proceed-button"></button>
    </div>
    <!--ALERTS-->

    <!--Flash-->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flashed-messages">
          {% for category, message in messages %}
              <div class="alert-message {{ category }}">
                  {{ message }}
                  <button type="button" class="close" data-dismiss="alert" onclick="closeFlash()">
                    Dismiss
                  </button>
              </div>
          {% endfor %}
      </div>
    {% endif %}
    {% endwith %}
    <!--Flash-->
    

    {% block javaScript %}{% endblock %}
    <script type="module" src="{{ url_for('static', filename='js/UI.js') }}" defer></script>
    <script type="module" src="{{ url_for('static', filename='js/actions.js') }}"></script>

    <script>
      function closeFlash() {
        document.querySelector(".flashed-messages").style.display = 'none';
      }
    </script>
  </body>
</html>