{% extends "base.html" %} {% block title %}Colleges{% endblock %}

{% block content %}
<div class="college-table">
    <div class="table-headers">
      <div class="check table-header">
        <input type="checkbox" id="select-all" name="select-all">
      </div>
      <div class="college-code table-header">
        <button class="sort-button hidden">Code
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="college-name table-header">
        <button class="sort-button hidden">Name
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="college-list myList">
        <ul>
          {% for item in data %}
          <li>
              <div class="table-row">
                  <span class="check"><input type="checkbox" id="select-all" name="select-all"></span>
                  <span class="college-code table-data">{{ item[0] }}</span>
                  <span class="college-name table-data">{{ item[1] }}</span>
              </div>
              <div class="tableBtn-container">
                  <button class="edit-data table-button">Edit</button>
                  <button class="delete-data table-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
          </li>
          {% endfor %}
        </ul>
    </div>

  </div>
</div>
{% endblock %}


{% block panelContent %}
<header class="sideHeader"> 
    <p><strong class="mode-label"></strong><br>College Data</p>
</header>

<main>
    <div class="mainDetails">
      <form method="POST" id="mainForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group form-text">
          <label for = "college-code">College Code</label>
          <input type="text" id="college-code" name="college-code" class="inputText hide" placeholder="Enter College code..">
        </div>
        <div class="form-group form-text">
          <label for = "college-name">College Name</label>
          <input type="text" id="college-name" name="college-name" class="inputText hide" placeholder="Enter College name..">
        </div>
      </form>
    </div>
</main>
{% endblock %}

{% block javaScript %}
<script type="module" src="{{ url_for('static', filename='js/college.js') }}"></script>
{% endblock %}