{% extends "base.html" %} {% block title %}Programs{% endblock %}

{% block content %}
<div class="course-table">
    <div class="table-headers">
      <div class="check table-header">
        <input type="checkbox" id="select-all" name="select-all">
      </div>
      <div class="course-code table-header">
        <button class="sort-button hidden">Code
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="course-name table-header">
        <button class="sort-button hidden">Name
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
      </div>
      <div class="course-college table-header">
        <button class="sort-button hidden">College
            <i class="fa fa-chevron-circle-down" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="course-list">
        <ul>
            <li>
                <div class="table-row">
                    <span class="check table-data"><input type="checkbox" id="select-all" name="select-all"></span>
                    <span class="course-code table-data">BSCS</span>
                    <span class="course-name table-data">Bachelor of Science in Computer Science</span>
                    <span class="course-college table-data">CCS</span>
                </div>
                <div class="tableBtn-container">
                    <button class="edit-data table-button">Edit</button>
                    <button class="delete-data table-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                </div>
            </li>
        </ul>
    </div>

  </div>
</div>
{% endblock %}


{% block panelContent %}
<header class="sideHeader"> 
    <!--Add if condition Add/Edit-->
    <p>Course Data</p>
</header>

<main>
    <div class="mainDetails">
      <!--Add if condition Add/Edit-->
      <p>Course Data</p>

      <form method="POST" id="mainForm">
        <div class="form-group form-text" onclick="expandForm(this)">
          <label for = "course-code">Course Code</label>
          <input type="text" id="course-code" name="course-code" class="inputText hide" placeholder="Enter Course code..">
        </div>
        <div class="form-group form-text" onclick="expandForm(this)">
          <label for = "course-name">Course Name</label>
          <input type="text" id="course-name" name="course-name" class="inputText hide" placeholder="Enter Course name..">
        </div>
        <div class="form-group dropdwn">
          <label for = "college">College</label>
          <select id="college" name="college">
              <!--Iterate colleges-->
              <option value="" disabled selected hidden>Select a college</option>
              <option value="value1">Volvo</option>
              <option value="value2">Saab</option>
              <option value="value3">Fiat</option>
              <option value="value4">Audi</option>
          </select>
        </div>
      </form>

    </div>
</main>
{% endblock %}