{% extends "base.html" %} {% block title %}Courses{% endblock %}

{% block content %}
<div class="course-table">
    <div class="table-headers">
      <div class="check table-header">
        <input type="checkbox" id="select-all" name="select-all">
      </div>
      <div class="course-code table-header">
        <button class="sort-button hidden">Code
            <i class="fa" aria-hidden="true"></i>
        </button>
      </div>
      <div class="course-name table-header">
        <button class="sort-button hidden">Name
            <i class="fa" aria-hidden="true"></i>
        </button>
      </div>
      <div class="course-college table-header">
        <button class="sort-button hidden">College
            <i class="fa" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="myList">
        <ul>
          {% for item in data %}
          <li>
              <div class="table-row">
                  <span class="check"><input type="checkbox" id="select-item" name="select-item"></span>
                  <span class="course-code table-data course-data">{{ item[0] }}</span>
                  <span class="course-name table-data course-data">{{ item[1] }}</span>
                  <span class="course-college table-data course-drop">
                    {% if item[2] is none %}
                    No College
                    {% else %}
                    {{ item[2] }}
                    {% endif %}
                  </span>
              </div>
              <div class="tableBtn-container">
                  <button class="edit-data table-button">Edit</button>
                  <button class="delete-data table-button"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div>
            </li>
            {% endfor %}
        </ul>
    </div>

  </div>
</div>
{% endblock %}


{% block panelContent %}
<header class="sideHeader"> 
  <p><strong class="mode-label"></strong><br>Course Data</p>
</header>

<main>
    <div class="mainDetails">
      <form method="POST" id="mainForm">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="form-group form-text">
          <label for = "course-code">Course Code</label>
          <input type="text" id="course-code" name="course-code" class="inputText hide" placeholder="Enter Course code..">
        </div>
        <div class="form-group form-text">
          <label for = "course-name">Course Name</label>
          <input type="text" id="course-name" name="course-name" class="inputText hide" placeholder="Enter Course name..">
        </div>
        <div class="form-group dropdwn">
          <label for = "college">College</label>
          <select id="college" name="college">
              <option value="" disabled selected hidden>Select a college</option>
              {% for college in colleges %}
              <option value="{{ college[0] }}">{{ college[0] }}</option>
              {% endfor %}
          </select>
        </div>
      </form>
    </div>
</main>
{% endblock %}

{% block javaScript %}
<script type="module" src="{{ url_for('static', filename='js/course.js') }}"></script>
{% endblock %}